body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #dbd1b6;
}
.logInBlock {
    display: block;
    margin: auto;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navigationBlock {
    display: block;
    text-align: center;
    height: fit-content;
    width: fit-content;
}
img {
    height: 100px;
    width: 350px;
}

.logInForm {
    display: block;
    border: 2px solid black;
    border-radius: 20px;
    height: auto;
    width: fit-content;
    padding: 20px;
    text-align: center;
    margin: auto;
    margin-top: 20px;    
}

input {
    font-size: 20px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 10px;
    height: auto;
    width: 300px;
    text-align: center;
}

.buttonSignIn {
    margin-top: 20px;
    font-size: 20px;
    height: auto;
    width: 300px;
    background-color: #E7A800;
    border: 1px solid #E7A800;
    border-radius: 20px;
    
}
.buttonSignIn:hover {
    background-color: rgb(112, 204, 6);
}